<h1 class='list-title' id="header-centered"><%= markdown_to_html "#{@user.name || @user.email}'s Profile."%></h1>
<div class='row'>
  <div class='col-md-4 pull-right'>
    <h3>Rules of Blocitoff</h3>
    <ul>
      <li>You have 7 days to get an item done before it gets deleted automatically.</li>
    </ul>
  </div>
