<h1 class='list-title' id="header-centered"><%= markdown_to_html "#{@user.name || @user.email}'s Profile."%></h1>
<div class='row'>
  <br><br>
   <h4 id="list-centered"> To-Do list </h4>
   <ul class='list'>
   <%= render @items %>
 </ul>
   <br>
       <%= render :template => "/items/_form.html.erb", locals: { user: @user, item: @item } %>
 </div>

